<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lights</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <h1>Lights</h1>
    <div>
        <a class="btn btn-green" href="/on/green">green</a>
        <a class="btn btn-yellow" href="/on/yellow">yellow</a>
        <a class="btn btn-red" href="/on/red">red</a>
    </div>
    <div>
        <a href="/on/help">HELP</a>
    </div>
</body>

</html>